# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Fortran module files
*.mod
*.smod

.vs/
*.user
CommonType/x64/Debug/*
ServerLauncher/x64/Debug/*
ServerUtility/x64/Debug/*
TestClient/x64/Debug/*
*.lastcodeanalysissucceeded
